.button {
  padding: 13px 50px;
  border-radius: 61px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background: #006df0;
  color: white;
  border: none;
  outline: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.015em;
  text-align: left;
  margin: 0 auto; 
}
