@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    src: url("../../../app/assets/fonts/static/Inter-Medium.ttf") format("ttf")
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    src: url("../../../app/assets/fonts/static/Inter-Regular.ttf") format("ttf")
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    src: url("../../../app/assets/fonts/static/Inter-SemiBold.ttf") format("ttf")
  }